<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>my simple web page</title>
    <!--
        //register onclick event via js code
        <script type="text/javascript">
        window.onload = function () {
            document.getElementById("btnShow").onclick = function btnShow_onClick() {
                var textUserMessage = document.getElementById('textUserMessage');
                alert(textUserMessage.value);
            }
        }
    </script>-->
</head>
<body>
    <h1>Simple HTML Page</h1>
    <p>
        <br />
        <i>Please input a message</i>
    </p>
    <form id="defaultPage"
          action="http://localhost/cars/classicAspPage.asp" method="post">
        <input id="btnPostBack" type="submit" value="Post to server" />
        <p>
            Your Message: <input id="textUserMessage" type="text" />
        </p>
        <p>
            <!--<input id="btnShow" type="button" value="Show" />-->
            <input id="btnShow" type="button" value="Show" onclick="return btnShow_onClick()" />
            <script type="text/javascript">
                function btnShow_onClick() {
                    alert(textUserMessage.value);
                }
            </script>
            <input id="btnReset" type="reset" value="Reset" />
        </p>
    </form>


</body>
</html>